<?xml version="1.0"?>
<config>
  <global>
    <ressources>
      <pfaytest_setup>
        <setup>
          <module>Pfay_Test</module>
          <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </pfaytest_setup>
    </ressources>
  </global>
    <modules>
        <Pfay_Ecard>
            <version>1.0.0</version>
            <depends>
            <!-- no dependencies -->
            </depends>
        </Pfay_Ecard>
    </modules>
    <frontend>
        <routers>
           <route_ecard>
               <use>standard</use>
               <args>
                  <module>Pfay_Ecard</module>
                  <frontName>ecard</frontName>
               </args>
            </route_ecard>
        </routers>
     </frontend>
     <adminhtml>
      <acl>
        <resources>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <ecard_section translate="title">
                                        <title>Ma Section </title>
                                        <sort_order>100</sort_order>
                                    </ecard_section>
                                </children>
                            </config>
                        </children>
                    </system>
                 </children>
            </admin>
        </resources>
      </acl>
     </adminhtml>
</config>