<?xml version="1.0"?>
<!--
 * @category    Hetic
 * @package     Hetic_Magento
 * @copyright   Copyright (c) 2016 Hetic
 * @author      Matthieu Demunck
 */
-->
<config>
	<Hetic_CategoryList>
		<version>1.0.0</version>
	</Hetic_CategoryList>
	<global>
		<blocks>
			<categorylist>
				<class>Hetic_CategoryList_Block</class>
			</categorylist>
		</blocks>

	</global>
</config>