<?xml version="1.0"?>
  <config>
    <modules>
      <Matt_Films>
        <version>1.0.0</version>
      </Matt_Films>
    </modules>
    <frontend>
      <routers>
        <matt_films>
          <use>standard</use>
          <args>
            <module>Matt_Films</module>
            <frontname>films</frontname>
          </args>
        </matt_films>
      </routers>
    </frontend>
  </config>