<?xml version="1.0"?>
<config>
	<modules>
		<Pfay_Monproduit>
			<version>1.0.0</version>
		</Pfay_Monproduit>
	</modules>
	<global>
		<blocks>
			<catalog>
				<rewrite>
					<product_view>
						Pfay_MonProduit_Block_Catalog_Product_View
					</product_view>
				</rewrite>
			</catalog>
		</blocks>
		<models>
  			<customer>
    			<rewrite>
      				<product> Pfay_MonProduit_Model_Customer</product>
    			</rewrite>
  			</customer>
		</models>
	</global>
</config>